@use "styles" as *;

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.inputContainer {
  height: 50px;
  width: 345px;
}

.button {
  padding: 15px 150px;
}
