@use "styles" as *;

.input {
  width: 100%;
  height: 50px;
  padding: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background: $color-white;
  border: 1px solid $color-space-grey;
  outline: none;
  @include radius-small;

  font-weight: $fw-light;
}

.label {
  display: inline-block;
  margin-bottom: 7px;

  font-weight: $fw-medium;
  line-height: 19px;
}
