@use "styles" as *;

.container {
  max-width: 584px;
  height: 99px;

  display: flex;
  align-items: center;
}

.icon {
  width: 64px;
  height: 64px;
  margin-right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: rgba(65, 82, 46, 0.05);
}

.name {
  font-weight: $fw-light;
  font-size: 17px;
  line-height: 22px;
}

.date {
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: $fw-regular;
  color: $color-medium-grey;
}

.likeWrapper {
  margin-left: auto;

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 22px;
}

.like {
  background: none;
  border: none;
  cursor: pointer;
}

.price {
  text-align: bottom;

  font-weight: $fw-light;
  font-size: 11px;
  line-height: 22px;
  color: $color-medium-grey;
}

.priceAmount {
  margin-left: 8px;

  font-weight: $fw-regular;
  font-size: 17px;
  color: $color-light-black;
}
