@use "styles" as *;

.container {
  max-width: 360px;
  height: 472px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-weight: $fw-medium;
  font-size: 24px;
  line-height: 28px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  padding: 4px 8px;

  display: flex;
  align-items: center;
  gap: 4px;

  color: #99a0a3;

  background-color: $color-white;
  border: 1px solid $color-bright-grey;
  @include radius-small;

  cursor: pointer;
}

.buttonActive {
  color: $color-green;

  border: 1px solid $color-green;
}

.list {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: $color-bright-grey;
}

::-webkit-scrollbar-thumb {
  height: 100px;
  background: $color-green;
}
