@use "styles" as *;

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../../assets/images/background.png") no-repeat;
  background-size: cover;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    @include blur;
    width: 100%;
    height: 100%;
  }
}

.login {
  width: 409px;
  z-index: 100;
  padding: 0 10px;
}
