@use "styles" as *;

.container {
  max-width: 360px;
  height: 410px;
  padding: 32px;

  display: flex;
  flex-direction: column;
}

.form {
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
