$color-white: #ffffff;

$color-bright-grey: #e5e5e5;
$color-light-grey: #c4c4c4;
$color-space-grey: #c9cacc;
$color-medium-grey: #878787;
$color-transparent-grey: #87878733;

$color-green: #41522e;
$color-transparent-green: #41522e4d;

$color-light-black: #424242;

$color-blue: #3877af;

$color-red: #e55858;
$color-accent-red: #eb1717;

$color-dark-yellow: #6c6845;
$color-orange: #be8022;
$color-yellow: #cdbc1e;
