@font-face {
  font-family: "Aktiv Grotesk Corp";
  src: local("AktivGroteskCorp-Bold"),
    url("../../../public/assets/fonts/AktivGroteskCorp-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Aktiv Grotesk Corp";
  src: local("AktivGroteskCorp-Regular"),
    url("../../../public/assets/fonts/AktivGroteskCorp-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$font-AktivGrotesk: "Aktiv Grotesk Corp", sans-serif;
$font-Roboto: "Roboto", sans-serif;
